<!-- <button (click)="setPasswords()" class="btn btn-success">
  Set Passwords
</button> -->

<div class="row">
  <div class="col-4 offset-4">
    <form (ngSubmit)="onLogin()">
      <div class="form-group">
        <label>Email</label>
        <input name="email" [(ngModel)]="user.email" type="email" class="form-control">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input name="password" [(ngModel)]="user.password" type="password" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary btn-block">
        <i class="fa fa-sign-in"></i>
      </button>
    </form>
  </div>
</div>
