<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Areus</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li *ngFor="let item of navItems" class="nav-item active">
        <a class="nav-link" [routerLink]="item.url">
          <i *ngIf="item.icon" class="fa" [class]="item.icon"></i>
          {{ item.text }}
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button *ngIf="!(user$ | async)" routerLink="/login" class="btn btn-success ml-3">
      <i class="fa fa-sign-in" aria-hidden="true"></i>
    </button>
    <button (click)="onLogout()" *ngIf="(user$ | async)" class="btn btn-danger ml-3">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
    </button>
  </div>
</nav>
