<div class="container">
  <div class="row">
    <div class="col-3 offset-8 mb-3 mt-3">
      <input
        [(ngModel)]="phrase"
        placeholder="search..."
        type="text"
        class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-1">
      <table class="table data-table">
        <thead>
          <tr>
            <th *ngFor="let col of userCols" (click)="onSort(col.key)">
              {{ col.title }}
              <i *ngIf="sortKey === col.key && sortDirection === 1"
                class="fa fa-sort-amount-asc" aria-hidden="true"></i>
              <i *ngIf="sortKey === col.key && sortDirection === -1"
                class="fa fa-sort-amount-desc" aria-hidden="true"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userList$ | async | filter:phrase | sort:sortKey:sortDirection">
            <td *ngFor="let col of userCols">
              {{ user[col.key] }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
